.Button {
  display: block;
  border-radius: var(--radius);
  background: var(--highlight);
  color: var(--white);
  text-transform: uppercase;
  margin: 1rem auto 0;
  width: 50vw;
  border: none;
  line-height: 2rem;
  font-size: 0.75rem;
}

.Button.Footer {
  position: fixed;
  bottom: 0;
  left: 0;
  border-radius: 0;
  width: 100vw;
  background: var(--highlight-dark);
  height: 3rem;
  font-size: 1rem;
}
