.Header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 3rem;
  background: var(--highlight);
}

.Header .Left {
  position: absolute;
  top: 1rem;
  left: 1rem;
  color: white;
}

.Header .Right {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.Header .Center {
  padding-top: 1rem;
  text-align: center;
}

.Header a {
  color: white;
  display: block;
  text-transform: uppercase;
}

.Header h3 {
  margin: 0;
  color: white;
  font-weight: 300;
}
