.Input {
  margin: 1rem 0;
}

.Input label,
label {
  display: block;
  text-transform: uppercase;
  color: var(--secondary);
}

.Input input,
.Input textarea {
  box-sizing: border-box;
  border: none;
  background: white;
  width: 100%;
  padding: 0.5rem;
  resize: none;
  font-size: 1rem;
}

.Input textarea {
  height: 10rem;
}

.Box {
  margin-top: 0;
  border: 1px solid var(--primary);
  line-height: 1.5rem;
  padding: 0.5rem;
}
