.Page {
  margin-top: 1rem;
}

.PageTabs {
  position: absolute;
  bottom: 3rem;
  left: 0;
}

.PageTabs .PageTab {
  float: left;
  width: 50vw;
  line-height: 3rem;
  text-align: center;
  color: var(--primary);
  background: var(--white);
  text-transform: uppercase;
}

.PageTabs .PageTab.active {
  color: var(--black);
  background: none;
}

.Page.Home {
  background: linear-gradient(var(--white), var(--primary));
  margin: 0 -1rem;
  height: calc(100vh - 6rem);
}

.Page.Home .Balance {
  position: relative;
  border: 1px solid white;
  margin: 1rem 1rem 0;
  padding: 0.5rem;
}

.Page.Home .Balance h3 {
  margin: 0;
  font-size: 2rem;
  font-weight: 300;
  line-height: 2rem;
  color: var(--black);
}

.Page.Home .Balance h4 {
  position: absolute;
  right: 0.5rem;
  bottom: -0.5rem;
  font-size: 1rem;
  line-height: 1rem;
  font-family: var(--monospace);
}
