@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

:root {
  --black: #452e33;
  --white: #faf0ea;

  --primary: #f0cfbf;
  --primary-dark: #ab7781;

  --secondary: #dd9c80;
  --secondary-dark: #654d43;

  --highlight: #8ddfd4;
  --highlight-dark: #6aa8a0;

  --radius: 16px;
}

html,
body {
  margin: 0;
  padding: 0;
  color: var(--black);
  background: var(--white);
  font: 16px Rubik;
}

.App {
  margin: 0 auto;
  height: 100vh;
  width: 100vw;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

details {
  margin: 1em 0;
}

summary {
  margin: 1em 0;
}
